
@{
    ViewBag.Title = "AddOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddOrder</h2>

<div>
    <form>
        <h3>User Info</h3>
        <div>
            <label for="txtUsername">Username</label>
            <input id="txtUsername" type="text" />
        </div>

        <div>
            <label for="txtBankname">Bankname</label>
            <input id="txtBankname" type="text" />
        </div>

        <div>
            <label for="txtProductBarcode">Product Barcode</label>
            <input id="txtProductBarcode" type="text" />
        </div>

        <div>
            <label for="txtQuantity">Quantity</label>
            <input id="txtQuantity" type="text" />
        </div>

        <div>
            <button type="submit">Kaydet</button>
        </div>
    </form>
</div>