
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddUser</h2>

<div>
    <form>
        <h3>User Info</h3>
        <div>
            <label for="txtName">Name</label>
            <input id="txtName" type="text" />
        </div>

        <div>
            <label for="txtSurname">Surname</label>
            <input id="txtSurname" type="text" />
        </div>

        <div>
            <label for="txtUsername">Username</label>
            <input id="txtPassword" type="text" />
        </div>

        <div>
            <label for="txtCreditLimit">Password</label>
            <input id="txtCreditLimit" type="text" />
        </div>

        <div>
            <button type="submit">Kaydet</button>
        </div>
    </form>
</div>